body {
  font-family: Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}

.home {
    position: absolute;
    left: 0;
    top: 15%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    border: 3px solid black;
}

.center {
    color: white;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.user-services-nav {
     overflow: scroll;
     color: black;
}

.hidden {
    display: none;
    margin-top: 25px 50px 75px 100px;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

#google-map {

    position: absolute;
    overflow:visible;
    width: 100%; 
    height: 600px;

}

a {
    color: #008080;
}

.notes-box{

    border-style:solid;
    border-color:black;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 150px; 
    padding-bottom: 150px;

}




