body {
  font-family: Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}

.home {
    position: absolute;
    left: 0;
    top: 15%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    border: 3px solid black;
}

#scroll{
  overflow-y: scroll; 
  height: 100%;
}

/*#indexPage{
    position: fixed; 
    bottom: 50%; 
    top: 50%;
}*/

.center {
    color: white;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#indexCard{
    border: 2px solid;
}


.user-services-nav {
     overflow: scroll;
     color: black;
}

.hidden {
    display: none;
    margin-top: 25px 50px 75px 100px;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

#google-map {

    position: absolute;
    overflow:visible;
    width: 100%; 
    height: 100%;

}

a {
    color: #008080;
}

#teal{
    color: #008080;
}

#black{
    color: black;
}


.notes-box{

    border-style:solid;
    border-color:black;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 150px; 
    padding-bottom: 150px;

}

#floating-panel {
        position: initial;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

#typeFilter {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 10px; 
    padding-bottom: 0px;
}

input[type="checkbox"]{
margin: 0 10px 0 10px;
}

input[type="radio"]{
margin: 0 3px 0 5px;
}




